[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
structlog = "*"
requests = "*"
psycopg2-binary = "*"
paramiko = "*"
pgpy = "*"
google-cloud-pubsub = "*"
requests-toolbelt = "*"
tenacity = "*"
google-cloud-storage = "*"
splinter = {extras = ["selenium3"], version = "*"}
jwcrypto = "*"
cryptography = "~=37.0" # Needed tempoorarily to fix pgpy dependency issue

[dev-packages]
"flake8" = "*"
"vulture" = "*"

[requires]
python_version = "3.9"
